pkgbase = MediaSnip
	pkgdesc = A simple tool to download and trim videos and audios using yt-dlp and ffmpeg
	pkgver = 1.0.0
	pkgrel = 1
	url = https://github.com/sahil-gulihar/mediasnip
	arch = x86_64
	license = MIT
	depends = yt-dlp
	depends = ffmpeg
	depends = go
	source = MediaSnip-1.0.0.tar.gz::https://github.com/sahil-gulihar/mediasnip/archive/refs/tags/v1.0.0.tar.gz
	sha256sums = 09c480386d9423b58b8e03370a607892066fb94a9054f3e71906d41cfaeec50b

pkgname = MediaSnip
